<div id="Datalist" class="datalist">
    <div class="datalist-div">
        <div class="datalist-data-search">
            <div class="datalist-search-group">
                <div class="datalist-search-box">
                    <div class="datalist-search-box-content">
                        <input class="datalist-search-input form-control" />
                    </div>
                </div>
                <div class="datalist-spinner-box">
                    <input class="datalist-items-per-page" />
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div class="datalist-processing">
        </div>
        <div class="datalist-error-container" style="display: none">
            <div class="datalist-error alert alert-danger">
                <span class="datalist-error-span"></span>
            </div>
        </div>
        <div class="datalist-data">
            <table class="table table-hover table-striped table-bordered datalist-table">
                <thead class="datalist-table-head"></thead>
                <tbody class="datalist-table-body"></tbody>
            </table>
        </div>
        <div class="datalist-pager">
            <ul class="pagination"></ul>
        </div>
    </div>
</div>
