<div class="col-xs-12">
    <div class="widget-box">
        <div class="widget-title">
            <span class="widget-title-icon fa fa-th"></span>
            <h5>@Headers.TeacherTeachingIndex</h5>
            <div class="widget-title-buttons">
                @*@if (Html.IsAuthorizedFor("Index"))
                    {
                        <a class="btn" href="@Url.Action("Index")">
                            <i class="fa fa-file-o"></i><span class="text">@Actions.Create</span>
                        </a>
                    }*@
            </div>
        </div>
        <div class="widget-content">

        </div>
    </div>
</div>