table thead {
  background-image: linear-gradient(#ffffff, #f2f2f2);
  background-color: #ffffff;
}
table th {
  text-align: center;
}
table tr + tr td {
  border-top: 1px solid #dddddd;
}
table th + th,
table td + td {
  border-left: 1px solid #dddddd;
}
table td {
  border-bottom: 1px solid #dddddd;
}
table .action-cell {
  text-align: center;
  width: 36px;
}
table .action-cell + .action-cell {
  border-left: none;
  padding-left: 0;
  width: 28px;
}
table .action-cell .details-action {
  background-color: #8ccd8c;
}
table .action-cell .edit-action {
  background-color: #f4c583;
}
table .action-cell .delete-action {
  background-color: #e48683;
}
table .action-cell .remove-action {
  background-color: #e48683;
}
table .action-cell a {
  transition-duration: 0.3s;
  display: inline-block;
  color: #ffffff;
  border-radius: 4px;
  line-height: 1.8;
  font-size: 11px;
  height: 20px;
  width: 20px;
}
table .action-cell a:hover {
  transition-duration: 0.3s;
  transform: scale(1.2);
}
