@model StudentClassView

<div class="col-xs-12">
    <div class="widget-box">
        <div class="widget-title">
            <span class="widget-title-icon fa fa-th-list"></span>
            <h5>@Headers.ManageStudentClasses</h5>
        </div>
        <div class="widget-content">
            @Html.Partial("_Form", Model)
        </div>
    </div>
</div>




